# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Output of build tools
dist/
build/
tmp/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Miscellaneous
*.swp
.DS_Store
Thumbs.db

*.html
*.gif
*.zip

#Hardhat files
cache
artifacts
.DS_Store
../.DS_Store
solc-output/